body {
    background-color: rgb(127, 127, 127) !important;
    color: rgb(205, 205, 205);
    margin: 0;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

@font-face {
    font-family: 'Rajdhani-Bold';
    src: url('fonts/Rajdhani-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    
}


#header {
    display: block;
     align-items: center;
    justify-content: center;
    text-align: center;
    /* grid-template-columns: 2fr 7fr; */
    background: rgb(46, 46, 46);
    padding: 2rem;
    z-index: 10;
    position: fixed;
    min-height: 200px;
    width: 100vw;
    transform: translateZ(0); /* to reduce flickering when zooming */
    will-change: transform; /* to reduce flickering when zooming */
}

#about{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    color: rgb(205, 205, 205);
}

#siteTitle {

    font-size: 3.5rem;
    font-family: 'Rajdhani-Bold', sans-serif;
    color: #b2cfff;
}

#mainArea {

 /* min-height: 90vh; */    
 /* min-width: 100vw; */
    top: 250px;
    width: 20000px;
    height: 20000px;
    position: relative; /* For panning to work */
    zoom: 100%;
    border: 2px black dotted;
    background-color: white;

}

#tutorial {
    position: fixed;
    top: 290px;
    right: 20px;
    padding: 3rem;
    border: 1px black solid;
    border-radius: 1rem;
    max-width: 40vw;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e7e7e7;
    height: 50vh;
    overflow-y: scroll;
    z-index: 200;
}

.plus {
    font-size: 2rem;
    font-weight: bolder;
    background-color: #4b4b4b;
    width: 4rem;
    height: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0075ff;
    border: 4px solid #0075ff;
}



.blockWrap {


    position: absolute;
    box-sizing: border-box;

}

.block {

    /* min-width: 200px; */
    width: 300px;
   /*  background: #4b4b4b; */
    margin: 1rem;
    border-radius: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    box-sizing: border-box;
    z-index: 2;
    transform-origin: 50% 50%;
    overflow: hidden;
    padding:15px;
    box-shadow: #000000c2 2px 2px 2px 2px;

}

.blockPlusButton{
    margin-top: -3rem; 
    border-radius: 50%; 
    text-align: center; 
    font-size: 1.5rem; 
    font-weight: bolder; 
    width: 2rem; 
    aspect-ratio: 1; 
    background-color: #0075ff;     
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease; /* This will make the change smoothly */

}

.blockPlusButton:not(.no-clicks):hover {
    /* Style on mouse hover */
    background-color: #b2cfff; /* A slightly different color on hover */
    transform: scale(1.05); /* Slightly larger on hover */
    cursor: pointer; /* Change the cursor to a hand on hover */
    color: #4b4b4b;
}

.disabled{
    background-color: rgb(177, 177, 177);
}

.optionsUnderDialogue{
    display: grid;
    max-width: 100%;
    grid-template-columns: 2fr 1fr 2fr;
    margin-bottom: 0.5rem
}

.block .optionsUnderDialogue input {
    width: 2.5rem;
}

.option1 {
    grid-column: span 2;
}

.block input {

/*     width: 95%; */
    background-color: white;
    color: black;
    border: none;
    text-align: center;
    
}

.conditionInputsWrap h3 {
    max-width: 50%;
}

.characterRoot>.contentWrap>.block>.characterName {
    font-weight: bolder;
    font-size: 1.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.characterElementIDLine{
       display: flex;
 
}

.dialoguNodeTopRow{
    display: flex;
}

.eyeImage {
    margin-left: auto; /* needs flex in parent */
}

.hide {
    display: none;
}



.block input, .block select, .block textarea {
    margin: 0.3rem;
}

.topConnectionSocket {
    margin-bottom: -3.5rem;
}

.roundSocket{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: gray;
}

.block input::placeholder {

    color: rgb(182, 182, 182);

}

.selected {

    border: 5px dashed #000000;

}

#header a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


#tutorial a {
    text-decoration: none;
    color: #0075ff;
}

.line {

    transform-origin: 0 100%;
    height: 5px;
    background: rgb(46, 46, 46);
    box-sizing: border-box;
    position: absolute;

}

.block input:focus {
    outline: none !important;
    border: 1px solid #B9A44C;
    /* box-shadow: 0 0 10px #719ECE; */
}

#ui {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    width: 95vw;
    margin-top: -1.5rem;
}

/* Hamburger Menu Styles */
#hamburger-menu {
    display: none; /* hide on desktop */
    font-size: 2rem;
    cursor: pointer;
}


.uiElem img {
    filter: grayscale(100%);
}

.uiElem:hover img {
    filter: grayscale(0);

}

.uiElem:hover {
    color: #ffffff; /* Your desired color */
}

.uiElemTitle {
    margin: 1rem 2rem;
}

.uiElem {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

textarea {
    box-sizing: border-box;
    resize: none;
    display: block;
    overflow-y: hidden; /* Prevent scrollbar flash */
    min-height: 50px; /* Minimum height */
}

.elementInfoField {
    display: block;
}

.conditionCircle {
    min-height: 1rem;
    min-width: 1rem;
    background-color: #0075ff;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 9999;

}

.conditionCircle:hover {
    /* Style on mouse hover */
    transform: translate(-50%, -50%) scale(1.1); /* Slightly larger on hover */
    cursor: pointer; /* Change the cursor to a hand on hover */
    top: 50%;
    left: 50%;
}

.conditionCircle.withCondition{
    background-color: #ff3f34;
}

.conditionInputsWrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;


}

.conditionInputsWrap input,
.conditionInputsWrap select {

    margin: 0.3rem;
    text-align: center;

}

.no-clicks{
    background-color: gray;
}


.dialogue-box {
    position: fixed;
    width: 300px;
    background-color: #0075ff;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 3s ease-in-out;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.dialogue-box-fade-out {
    opacity: 0;
}

.answerNumber{
    display: inline-block;
}


.playModeDialogueContainer{
    font-size: 1.5rem;
    background-color: rgb(46, 46, 46);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 0.4rem;
    padding: 1rem 4rem;
    box-shadow: #000000c2 20px 20px 40px 2px;
    z-index: 10000;
    min-width: 60%;
    min-height: 70%;
    -webkit-user-select:text;
        /* Safari */
        -moz-user-select: text;
        /* Firefox */
        -ms-user-select: text;
        /* IE10+/Edge */
        user-select: text;
        /* Standard */
    }

.playModeDialogueContainer div{
    padding: 1rem;
    margin: 1rem;
}

.exitPlayMode{
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: hue-rotate(170deg) saturate(1.5) brightness(0.8);
}

img.flashgreen {
    filter: hue-rotate(240deg) saturate(1) brightness(1.2);
}

div.dialogueLine{
    color: white;
    border: 1px solid whitesmoke;
    padding: 4rem;
    background-color: #000000;
    min-height: 10vh;
}

.bottomLine{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#leftArrow {
font-size: 3rem;
}

#rightArrow {
    font-size: 3rem;
    text-align: right;
}

.dialogueId, .charName {
    color: #ffffff;
    font-weight: 900;
}

.fightWin, .winFightButton{
 background-color: #30e060;
}

.fightLose, .loseFightButton {
    background-color: #e03050;
}

.winFightButton{
    box-shadow: hsl(140deg 87% 44%) 0px 7px 0px 0px;
}

.loseFightButton {
    box-shadow: hsl(350deg 87% 50%) 0px 7px 0px 0px;
}

/* Settings */

/* Default state */
#settingsArea {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    /* This ensures a smooth animation */
}

/* Open state */
#settingsArea.open {
    width: 100%;
    height: 200px;
    padding: 2rem;
    display: grid;
    grid-column: span 12;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.individualSetting {
    border: 1px white solid;
    border-radius: 2rem;
    padding: 1rem;
    text-align: left;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

#formatSelection{
    margin: 0.5rem;
}


/* Tooltips */

.ui-tooltip {
    text-align: center;
    color: rgb(117, 95, 215);
    max-width: 200px;
}

.ui-tooltip-content {
    z-index: 1;
    text-align: center;
    background-color: rgb(46, 46, 46);
    padding: 1rem;
    color: white;
    border-radius: 1rem;

}


/* End tooltips */

/* Buttons */

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    margin: 0.4rem;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
    background-color: hsl(210deg 100% 44%);
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
    
}

.btn {
    transform: scale(1);
}

.btnSmall {
    transform: scale(1);
}

.btnSmall:hover {
    transform: scale(1.08);
    transition: transform 0.5s;
}

.btn:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
}

   button:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
   }

   .conditionButton{
    background-color: hsl(69deg, 64%, 39%);
    box-shadow: hsl(69deg 40% 36%) 0px 7px 0px 0px;
   }
   
/* Mobile styles */

@media (max-width: 1000px) {
    #header{
        grid-template-columns: 1fr;
    }
    #ui {
        display: none;
        width: 100vw;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #hamburger-menu {
        display: block;
    }
}

  
   